<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Review Confirmation</title>
</head>

<body>
	<h1>Game Review Data</h1>
	<div>
		<strong>Name: </strong><%- name %><br>
		<strong>Email Address: </strong><%- email %><br>
		<strong>Rating: </strong><%- rating %><br>
		<strong>Review: </strong>
		<pre><%- review %></pre>
		<br>
		<hr>
		<p><strong>Task completed at <%- date %></strong></p>
		<hr>
		<a href="/">HOME</a>
	</div>
</body>

</html>
