<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Review Confirmation</title>
	<link rel="stylesheet" href="/removeReviewStyle.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
      href="https://fonts.googleapis.com/css2?family=Bitcount+Prop+Single:wght@100..900&display=swap"
      rel="stylesheet">
</head>

<body>
	<h1>Game Review Data</h1>
	<div>
		<strong>Email Address: </strong><%- email %><br>
		<strong>Game: </strong><%- name %><br>
		<strong>Rating: </strong><%- rating %><br>
		<strong>Review: </strong>
		<pre><%- review %></pre>
		<br>
		<hr>
		<p><strong>Task completed at <%- date %></strong></p>
		<hr>
		<a href="/">HOME</a>
	</div>
</body>

</html>
